<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit A Post</title>
  </head>
  <body>
    <form action='/articles/<%= @art_id %>}' method="post">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <h2>Edit an Article</h2>
    <p>Title: </p>
    <input type="text" name="title">
    <p>Content: </p>
    <input type="text" id="content" name="content">
    <br>
    <input type="submit" value="Submit">
    </form>
  </body>
</html>
