<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit A Post</title>
  </head>
  <body>

    <h3>Your Current Article</h3>
    <h2>Title: <%=@article.title %></h2>
    <p><%= @article.content %></p>

    <form action="/articles/<%= @art_id %>}" method="post">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <h2>Edit an Article</h2>
    <p>Title: </p>
    <input type="text" name="title">
    <p>Content: </p>
    <input type="text" id="content" name="content">
    <br>
    <input type="submit" value="submit">
    </form>
  </body>
</html>
