<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create a New Article!</title>
  </head>
  <body>
    <form action="/articles" method="post">
      <h2>Submit an Article</h2>
      <p>Title: </p>
      <input type="text" name="title">
      <p>Content: </p>
      <input type="text" id="content" name="content">
      <br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
