<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create a New Article!</title>
  </head>
  <body>
    <form action="/articles" method="post">
      <p>Title: <input type="text" name="title"></p>
      <p>Content: <input type="textarea" name="content"></p>
    </form>
  </body>
</html>
