<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your Article</title>
  </head>
  <body>
    <h3>Your Search Results</h3>
    <h2>Title: <%=@article.title %></h2>
    <p><%= @article.content %></p>

    <form action="/articles/<%= @article.id %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input type="submit" value="delete">
    </form>
  </body>
</html>
